<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HAHATalk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HAHATalk.Properties.Settings>
            <setting name="CONN_STRING_ACCOUNT" serializeAs="String">
                <value>UID=root;PWD=1357;Server=127.0.0.1;Port=3306;Database=hahatalk</value>
            </setting>
            <setting name="CONN_STRING_MS_ACCOUNT" serializeAs="String">
                <value>Server = 127.0.0.1, 9008; Uid = root; Pwd = 1357; database = hahatalk; TrustServerCertificate=True;Encrypt=False;</value>
            </setting>
        </HAHATalk.Properties.Settings>
    </userSettings>
</configuration>